{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}

<link rel="stylesheet" type="text/css" href="{% static 'css/anexo_diagnostico.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script> -->


<div class="blockMenu container">
	<div id="progressMaintenance">
		<img class="loader" src="{% static 'imagenes/loading.gif' %}" class="image">
	</div>
	<div class = "content" ng-controller = "anexo_diagnostico">
		<div class="col-sm-6">
			<div class="col-sm-3 containerImageDoctor">
				<img class="imagenDoctor"src="{% static 'imagenes/documento2.png' %}" class="image"></img>
			</div>
			<div class="col-sm-9 form-group">
				<label class="pdf">Introduzca el documento a diagnosticar (extensiones permitidas: '.pdf','.docx'):</label>
				<input type="file" class="filestyle fileUpload" data-buttonText="Examinar" data-buttonName="btn1 btn" file-model="myFile" />
			</div>
			<div class="col-sm-12 searchContainer">
				<button type="button" class="btn1 btn" ng-click="uploadFile()">Diagnosticar</button>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="col-sm-3 containerImageRobot">
				<img class="imagenDoctor"src="{% static 'imagenes/robot.png' %}" class="image"></img>
			</div>
			<div class="col-sm-9 form-group">
				<label class="cie">Diagnóstico:</label>
				<div class="resultsRobot form-control" rows="5" maxlength="350" id="cie">
					<div ng-repeat="item in textDiagnostico">
						<div ng-bind-html="item"></div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- <div class="col-sm-12 searchContainer"> -->
			<!-- <button type="button" class="btn btn-primary" ng-click="uploadFile()">Diagnosticar</button> -->
		<!-- </div> -->
		
		<!-- <div ng-repeat="item in dataPDF"> -->
			<!-- <div ng-bind-html="item"></div> -->
		<!-- </div> -->
		
	</div>
</div>
{% endblock %}