{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
<header>
	<div class="main-head" >
		<div class="container headImage">
			<div class="col-sm-4 containerImage">
				<img class="imagenRed"src="{% static 'imagenes/red.jpg' %}" class="image"></img>
			</div>
			<div class="col-sm-4 containerImage">
				<img class="imagenLogo"src="{% static 'imagenes/logo.png' %}" class="image"></img>
			</div>
			<div class="col-sm-4 containerImage">
				<img class="imagenHospital"src="{% static 'imagenes/university.png' %}" class="image"></img>
			</div>
		</div>
		
		<nav class="navbar navbar-default">
			<div class="container-fluid menuOptions">
				<ul class="nav navbar-nav">
					<li class = "{% if request.resolver_match.url_name == 'home' %}active1{% endif %}">
						<a onclick="location.href='{% url 'CodeMyHealth:home' %}'"> Redactar diagnóstico</a>
					</li>
					<li class = "{% if request.resolver_match.url_name == 'anexo_diagnostico' %}active1{% endif %}">
						<a onclick="location.href='{% url 'CodeMyHealth:anexo_diagnostico' %}'"> Anexo diagnóstico</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- <div class="div_header"> -->
			<!-- <div class="blueBar"> -->
			<!-- </div> -->
		<!-- </div> -->
		<!-- <nav class="navbar navbar-default"> -->
			<!-- <div class="container-fluid menuOptions"> -->
				<!-- <ul class="nav navbar-nav"> -->
					<!-- <li class = "{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a class = "" onclick="location.href='{% url 'CodeMyHealth:home' %}'">Redactar diagnóstico</a></li> -->
					<!-- <li class = "{% if request.resolver_match.url_name == 'anexo_diagnostico' %}active{% endif %}"><a onclick="location.href='{% url 'CodeMyHealth:anexo_diagnostico' %}'">Anexo diagnóstico</a></li> -->
				<!-- </ul> -->
			<!-- </div> -->
		<!-- </nav> -->
	</div>
</header>
