#progressMaintenance{
	display: none;
	position: absolute;
	z-index: 4000;
	background-color: transparent;
	width: 85%;
	height: 100%;
}

.loader{
	margin-left: 50%;
	margin-top: 10%;
}

.blockMenu{
	padding-top: 20px;
	margin-top: auto;
}

fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}

.searchContainer{
	text-align: right;
}