/* Tamaño del bloque de header */
.main-head{
	width: 100%;
	height: auto;
	text-align: center;
}

/* Estilo de la barra azul */
.blueBar{
	width: 100%;
	height: 20px;
	background-color: #014495;
	background-image: -webkit-gradient(linear, left top,left bottom, from(#014495), to(#a6abb1));
}

.headImage{
	width: 100%;
	height: auto;
}

.containerImage{
	height:106px;
}

.imageCultura{
}

.imgRedLogo{
	
}

.redContainer{
	width:100%;
	margin-top: 5%;
}

.partnersContainer{
	width:95%;
}

.imagenHospital{
	margin-top: 10%;
	margin-left: 18%;
}

.imagenLogo{
	margin-top:12%;
	margin-left: 20%;
}

.imageEveris{
	margin-top:-2%;
}

.menuOptions{
	width: 87%;
}

.blank_type1{
	width: 10%;
}

.blank_type2{
	width: 10%;
}

li{
	color: #555;
	background-color: #ffffff;
	margin: 5px 5px 5px 5px;
	border-radius: 7px;
}

.navbar-default{
	background: #007b3e url('/static/imagenes/fondo_menu.png');
}

.style_menu{
	background-image: -webkit-gradient(linear, left top,left bottom, from(#64f77d), to(#dedfe0));
}

.style_menu a{
	color: #404040;
}

.containerCountry{
	width: 55%;
	text-align: right;
	margin-top: 1%;
	float: right;
}

.imagenEspana{
	width:30px;
	cursor:pointer;
	opacity:1;
}

.imagenCataluna{
	width:40px;
	cursor:pointer;
	opacity:0.5;
}

/* MENU */
li {
	display: inline-block;
	vertical-align: middle;
	cursor:pointer
}
a:hover, a:focus, a:active {
	color: #999;
	text-decoration: none;
}
a {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	transition: color 0.1s, background-color 0.1s;
}
a {
	position: relative;
	display: block;
	padding: 16px 0;
	margin: 0 12px;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	text-transform: uppercase;
	transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
	color: #000;
}
a::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 3px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #2a7512;
	transform-origin: right top;
	transform: scale(0, 1);
	transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
	background-color: #000;
}
a:hover::before, a:focus::before {
	transform-origin: left top;
	transform: scale(1, 1);
}

/* FIN MENU DESLIZANTE */



@media only screen and (max-width: 768px){
	.imagenLogo{
		margin-left: 0;
	}
}